
      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Borrow or lend money!</h1>
        <p class="lead">Esential uses the tax refunds of low-income individuals (on average $2,000) as a form of collateral, such that loans can be lower risk and thus have lower interest rates.</p>
        <p><a class="btn btn-lg btn-success" href="/users/sign_up" role="button" >Get started today</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2 id="about">Organization History</h2>
          <p>Our organization was created during the summer of 2016 during a fintech collider competition in Singapore. We won the collider and we are here in Berkeley to implement the lending platform. </p>

       </div>
        <div class="col-lg-4">
          <h2>Target Audience</h2>
          <p>The target audience for this project will be low income individuals who take out payday loans, there are approximately 19 million Americans who take out these loans each year.</p>

        </div>
        <div class="col-lg-4">
          <h2>Members</h2>
          <p>Our platform allows you to sign up as either a borrower or as a community member, otherwise known as the lender. Community Members will be able to list their information and borrowers will be able to contact them and request loans.</p>

        </div>
      </div>

      <!-- Site footer -->
      <footer class="footer">
        <p>&copy; 2016 Esential, Inc.</p>
      </footer>



  
  </body>
</html>
