<%= render 'layouts/navbar' %>

<div class="container">
<h1> Welcome, Admin! </h1>
<div style="width:49%; float:left;" class="panel panel-primary">
  <div class="panel-heading"> All Communities</div>
  <ul class="list-group">
    <% @communities.each do |c| %>
    <li class="list-group-item"><%= link_to c.name, c %></li>
    <% end %>
  </ul>
</div>

  <div style="width:49%; float:right;" class="panel panel-primary">
    <div class="panel-heading"> All Users</div>

      <ul class="list-group">
        <% @users.each do |u| %>
        <li class="list-group-item"><%= link_to u.name, u %></li>
        <% end %>
      </ul>
</div>




</div>
