<%= render 'layouts/navbar' %>

<div class="container">
<h1> Welcome, Admin! </h1>
<div class="row tile_count" style="width: 100%; float:right; margin: 0 50px;">

  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-clock-o"></i>Total Amount</span>
    <div class="count">123.50</div>
    <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> From last Week</span>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-user"></i>Max Loan Amount</span>
    <div class="count green">$500</div>

  </div>
  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-user"></i>Interest Rate</span>
    <div class="count">5.00%</div>
    <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>+1.00% </i> From last Week</span>
  </div>


</div>

<div style="width:49%; float:left;" class="panel panel-primary">
  <div class="panel-heading"> All Communities</div>
  <ul class="list-group">
    <% @communities.each do |c| %>
    <li class="list-group-item"><%= link_to c.name, c %></li>
    <% end %>
  </ul>
</div>

  <div style="width:49%; float:right;" class="panel panel-primary">
    <div class="panel-heading"> All Users</div>

      <ul class="list-group">
        <% @users.each do |u| %>
        <li class="list-group-item"><%= link_to u.name, u %></li>
        <% end %>
      </ul>
</div>




</div>
