<% if @community %>
    <%= @community.name %>
    <%= @community.description %>
    <%= @community.total_loan_amount %>
<% end %>
  </div>

    <table id="LI">
      <tbody>
        <tr>
          <th>Loan Information    </th>
        </tr>
        <tr>
          <th>Total $: </th>
        </tr>
        <tr>
          <th>Maximum Loan Amount $: </th>
        </tr>
        <tr>
          <th>Interest Rate $:</th>
        </tr>
        <tr>
          <th>Loan Period:</th>
        </tr>
      </tbody>
    </table>
    <table id="CI">
      <tbody>
        <tr>
          <th>Contact Information          </th>
        </tr>
        <tr>
          <th>Phone Number: @community</th>
        </tr>
        <tr>
          <th>Email:</th>
        </tr>
        <tr>
          <th>Address:</th>
        </tr>
      </tbody>
    </table>
